html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html { overflow: hidden; width: 100%; height: 100%; font-size: 62.5%; }
body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #FFF;
	perspective: 0;
	perspective-origin: 50% 50%;
	transform-origin: center center center;
	transform-style: preserve-3d;
}
.world {
	position: relative;
	width: 100vw;
	height: 100vh;
	perspective: 1000px;
	perspective-origin: 50% 0%;
	transform-origin: center center center;
	transform-style: preserve-3d;
}
.sky, .ocean, .island {
	perspective: 0;
	perspective-origin: 50% 0%;
	transform-origin: center center center;
	transform-style: preserve-3d;
	position: absolute;
	top: 50%;
	left: 50%;
}	

.sky {
	transition: all 250ms ease-in-out;
	background-color: #ddf1fd;
	width: calc(100vw + 4000px);
	height: calc(100vh + 1000px);
	transform: translateX(-50%) translateY(-80%) translateZ(-1000px);
	box-shadow: 0 -30px 30px -30px #3c9fc8 inset;
}
.sky:after {
	content: ' ';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
  background: linear-gradient(to bottom right, rgba(60,159,200,0.5), rgba(255,255,255,0.05));
}

.ocean {
	transition: all 250ms ease-in-out;
	background-color: #4BC7FB;
	width: calc(100vw + 4000px);
	height: calc(100vh + 1000px);
	box-shadow: 0 100px 100px -100px #3c9fc8 inset;
	transform: translateX(-50%) translateY(20%) translateZ(-1000px);
}

.island {
	transition: all 250ms ease-in-out;
	border: 1px solid red;
	z-index: 999;
	transform: translate(-50%, -50%) rotateX(90deg) translateZ(-100px);
}
@media (max-width: 767px) {
	.island { transform: translate(-50%, -50%) rotateX(90deg) translateZ(-100px) scale3d(0.4,0.4,0.4); }
}

.island .edge {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%,-50%);
	width: 500px;
	height: 500px;
	background-color: #E5C57E;
	border-radius: 0 100px 100px 100px;
	box-shadow: 0 100px 100px -100px #a08958 inset,
							0 40px 30px -30px #3c9fc8;
}
.island .edge span {
	position: absolute;
	display: block;
	height: 100px;
	background-color: #E5C57E;
}
.island .edge span:nth-child(1) { transform: translate(-99px,0); width: 100px; border-radius: 100px 0 0 0; box-shadow: 0 100px 100px -100px #a08958 inset; }
.island .edge span:nth-child(2) { width: 20px; height: 20px; transform: translate(-118px, 80px); }
.island .edge span:nth-child(2):after { border-radius: 0 0 20px 0; }
.island .edge span:nth-child(3) { transform: translate(-199px,99px); width: 200px; height: 200px; border-radius: 100px 0 0 100px; }
.island .edge span:nth-child(4) { width: 20px; height: 20px; transform: translate(-108px, 298px); }
.island .edge span:nth-child(4):after { border-radius: 0 20px 0 0; }
.island .edge span:nth-child(5) { transform: translate(-88px,298px); width: 100px; border-radius: 0 0 0 50px; }
.island .edge span:nth-child(6) { width: 20px; height: 20px; transform: translate(-18px, 398px); }
.island .edge span:nth-child(6):after { border-radius: 0 20px 0 0; }
.island .edge span:nth-child(2):after,
.island .edge span:nth-child(4):after,
.island .edge span:nth-child(6):after {
	content: ' ';
	display: block;
	width: 20px;
	height: 20px;
	background-color: #4BC7FB;
}

.island .edge.inner {
	transform: translate(-30%,-50%) scale(0.98);
	background-color: #ffdb8c;
	box-shadow: 0 100px 100px -100px #a08958 inset;
}
.island .edge.inner span { background-color: #ffdb8c; }
.island .edge.inner span:nth-child(2),
.island .edge.inner span:nth-child(4),
.island .edge.inner span:nth-child(6) {
	display: none;
}

.island .edge.green {
	transform: translate(-30%,-50%) scale(0.8);
	background-color: #74d600;
	box-shadow: 0 100px 100px -100px #028900 inset,
							0 40px 30px -30px #E5C57E;
}
.island .edge.green span {
	background-color: #74d600;
}
.island .edge.green span:nth-child(1) { box-shadow: 0 100px 100px -100px #028900 inset; }
.island .edge.green span:nth-child(2):after,
.island .edge.green span:nth-child(4):after,
.island .edge.green span:nth-child(6):after {
	background-color: #ffdb8c;
}

.island .edge.grass {
	transform: translate(-30%,-50%) scale(0.6);
	background-color: #028900;
	box-shadow: 0 100px 100px -100px #015f00 inset,
							0 40px 30px -30px #74d600;
}
.island .edge.grass span {
	background-color: #028900;
}
.island .edge.grass span:nth-child(1) { box-shadow: 0 100px 100px -100px #015f00 inset; }
.island .edge.grass span:nth-child(2):after,
.island .edge.grass span:nth-child(4):after,
.island .edge.grass span:nth-child(6):after {
	background-color: #74d600;
}

.island .trees {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%,-50%);
	width: 500px;
	height: 300px;
	perspective: 0;
	perspective-origin: 50% 0%;
	transform-origin: center center center;
	transform-style: preserve-3d;
}
.island .trees span {
	display: block;
	position: absolute;
	width: 10px;
	height: 60px;
	background-color: #c68642;
	transform-origin: center bottom center;
	transform: translateZ(40px) rotateX(-90deg);
	box-shadow: 0 -10px 10px -10px #222 inset;
	cursor: pointer;
}
.island .trees span:hover:before,
.island .trees span:hover:after {
	transition: all 250ms ease-in-out;
	background-color: #002900;
}
.island .trees span:before {
	content: ' ';
	display: block;
	position: absolute;
	top: -10px;
	left: 0;
	transform: translateX(-10px);
	width: 40px;
	height: 40px;
	background-color: #015200;
	border-radius: 50%;
	box-shadow: 0 -10px 10px -10px #002900 inset;
}
.island .trees span:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-20px);
	width: 30px;
	height: 30px;
	background-color: #015200;
	border-radius: 50%;
	box-shadow: 0 -10px 10px -10px #002900 inset;
}
.island .trees span:nth-child(1) { left: 100px; top: 100px; transform: translateZ(40px) rotateX(-90deg) rotateY(180deg); }
.island .trees span:nth-child(2) { left: 320px; top: 100px; transform: translateZ(40px) rotateX(-90deg) rotateY(180deg); }
.island .trees span:nth-child(3) { left: 50px; top: 160px; transform: translateZ(40px) rotateX(-90deg) rotateY(180deg); }
.island .trees span:nth-child(4) { left: 360px; top: 200px; }
.island .trees span:nth-child(5) { left: 160px; top: 100px; }
.island .trees span:nth-child(6) { left: 240px; top: 240px; }

/** CLOUD */
.cloud {
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	width: 350px;
	position: absolute;
	z-index: 99;
	cursor: pointer; 
}
.cloud:after, .cloud:before { background: #fff;	content: ''; position: absolute; z-index: -1; }
.cloud:after { border-radius: 100px; height: 100px; left: 50px; top: -50px; width: 100px; }
.cloud:before {	border-radius: 200px; width: 180px; height: 180px; right: 50px; top: -90px; }
.cloud:hover, .cloud:hover:after, .cloud:hover:before { transition: all 250ms ease-in-out; background: #F4F4F4; }
.cloud:nth-child(1) { bottom: 60px; left: 50%; transform: scale(0.8); }
.cloud:nth-child(2) { bottom: 300px; left: 20%; transform: scale(0.3); }
.cloud:nth-child(3) { bottom: 200px; left: 80%; transform: scale(0.4); }
.cloud:nth-child(4) { bottom: 60px; left: 54%; transform: scale(0.6); }
.cloud:nth-child(5) { bottom: 300px; left: 40%; transform: scale(0.3); }
.cloud:nth-child(6) { bottom: 120px; left: 70%; transform: scale(0.4); }
.cloud:nth-child(7) { bottom: 120px; left: 68%; transform: scale(0.5); }

.wave {
	display: block;
	position: absolute;
	width: 100px;
	height: 50px;
	top: 50%;
	left: 50%;
	z-index: 99;
	background-image: url(wave.png);
	background-size: cover;
}
.wave:nth-child(1) { transform: translate(-50%,-50%) translate(-220px, -250px); }
.wave:nth-child(2) { transform: translate(-50%,-50%) translate(-1220px, -350px); }
.wave:nth-child(3) { transform: translate(-50%,-50%) translate(-620px, -450px); }
.wave:nth-child(4) { transform: translate(-50%,-50%) translate(-1100px, -600px); }
.wave:nth-child(5) { transform: translate(-50%,-50%) translate(-1200px, -720px); }
.wave:nth-child(6) { transform: translate(-50%,-50%) translate(520px, -250px); }
.wave:nth-child(7) { transform: translate(-50%,-50%) translate(920px, -350px); }
.wave:nth-child(8) { transform: translate(-50%,-50%) translate(1020px, -450px); }
.wave:nth-child(9) { transform: translate(-50%,-50%) translate(820px, -800px); }
.wave:nth-child(10) { transform: translate(-50%,-50%) translate(1200px, -500px); }





























































